.DS_Store
# .gitignore file content

# Terraform configuration files
/tf
tf/
.tf/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crashtest.log
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
